:root {
  --clr-primary-700: hsl(300, 43%, 22%);
  --clr-primary-300: hsl(333, 80%, 67%);

  --clr-neutral-100: hsl(303, 10%, 53%);
  --clr-neutral-200: hsl(300, 24%, 96%);
  --clr-neutral-300: hsl(0, 0%, 100%);

  --ff-primary: 'spartan', sans-serif;

  --fs-400: 0.8125rem;
  --fs-500: 0.9625rem;
  --fs-900: 2rem;

  --br: 0.5rem;
}

@media (min-width: 50em) {
  --fs-900: 3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  padding-top: 5rem;
  text-align: center;
}

/* .container {
  max-width: 70rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.upper {
  margin-bottom: 80px;
  align-items: center;
} */

h1 {
  font-weight: 700;
  line-height: 1;
  font-size: var(--fs-900);
  color: var(--clr-primary-700);
  max-width: 12ch;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
.flow-content {
  margin-top: var(--flow-space, 1rem);
}

.lead {
  color: var(--clr-primary-700);
  font-size: var(--fs-500);
  font-weight: 400;
  line-height: 1.8;
}

/* .upper-right {
  display: flex;
  flex-direction: column nowrap;
}*/

.ratings {
  font-weight: 700;
  font-size: 0.9625rem;
  justify-content: space-around;
  background: var(--clr-neutral-200);
  color: var(--clr-primary-700);
  padding: 0.5rem;
  border-radius: var(--br);
  margin: 10px 0;
  min-width: 450px;
}

.down {
  background: var(--clr-primary-700);
  color: var(--clr-neutral-200);
  text-align: left;
  border-radius: var(--br);
  padding: 2rem;
}

img {
  border-radius: 50%;
}

#name {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}

#verifiedBuyer {
  color: var(--clr-primary-300);
  font-weight: 400;
}

#review {
  line-height: 1.8;
}
